.bg-image {
    background-image: url("/public/images/footer.jpg"), linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-size: cover;
    height: 800px;
    background-position: center;
}

.rights {
    color:blueviolet;
    text-align: center;
}

