#Nav1{
    background-color: #fff !important;
    display: flex;
}
#redondo{
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50% !important;
    font-size: 0;
    border: 1px solid #BFBFBF;
    background-color: white;
}
#li1{
    padding-right: 48px;
}
#ul1{
    margin-inline-start: auto;
}
#basic-menu{
    display: flex;
}


/*ESTILO DEL MENU DESPLEGABLE*/


.iteamsdetails{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}
.items_img{
    flex: .4;
}
.items_img img{
    width: 20rem;
    border-radius: 5px;
}

.details{
    flex: .5;
};

.rating{
    background-color: green;
}

@media (max-width:772px){
    .iteamsdetails{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:450px){

    
    .emptycart_img{
        margin-right: 50px;
    }
    .smallclose{
        display: flex;
    }

      /* individual iteams details */
    
    .items_img img{
        width: 16rem;
    }
}
