.product_div{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    min-width: 250;
}

.product_title {
    font-size: 30px;
    text-align: center;
}

.product{
    border-radius: 5px;
    border-style:solid;
    border-width: 3px;
    margin: 10px;
}

.product_btn{
    background-color: red;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 2px;
    transition-duration: 0.4s;
    color: white;
    margin-bottom: 20px;
}

.product_btn:hover{
    background-color: #4CAF50;
    color: white;
}

.product_img {
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    width:250px; 
    height: 200px;
}

.product_box {
    background-color: beige;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}

.product_box:hover{
    transform: scale(1.1);
    transition: all 0.8s;
}

.product_price {
    font-size: 25px;
    color:rgb(44, 211, 175);
    font-style: oblique;
}

.old_price {
    font-size: 18px;
    color: grey;
    text-decoration: line-through;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .product_img {
        border-top-right-radius: 2em;
        border-top-left-radius: 2em;
        width:200px; 
        height: 150px;
    }
}

@media screen and (max-width: 425px) {
    .product_img {
        border-top-right-radius: 2em;
        border-top-left-radius: 2em;
        width:150px; 
        height: 100px;
    }
}