.titulo{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #000000;

}
.titulo2{  
    
    color: rgb(44, 211, 175);
    display: inline-block;
}
.icon{
    font-size: 50px;
    color: rgb(44, 211, 175);
    margin-bottom: 1rem;
}
*{
    font-family: 'Cormorant', serif;
}